<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ShouterAfter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserUpdeta2</display-name>
    <servlet-name>UserUpdeta2</servlet-name>
    <servlet-class>controller.BbsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdeta2</servlet-name>
    <url-pattern>/UserUpdeta2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdeta3</display-name>
    <servlet-name>UserUpdeta3</servlet-name>
    <servlet-class>controller.UserUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdeta3</servlet-name>
    <url-pattern>/UserUpdeta3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User2</display-name>
    <servlet-name>User2</servlet-name>
    <servlet-class>controller.BbsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User2</servlet-name>
    <url-pattern>/User2</url-pattern>
  </servlet-mapping>
</web-app>